.item:hover{
  background: #eee;
  color: #333;
  .icon{
    color: #333;
  }
}

  .sidebar{
    margin: 40px auto 0;
    width: 100%;
    @media screen and (min-width: 768px) {
    width: 700px;
    }
    @media screen and (min-width: 1068px) {
    float: left;
    width: 280px;
    margin: 0 40px 40px 0 ;
    }
    &__user{
      list-style: none;
      height: 685px;
      display: block;
      li:first-child{
      border: 0;
      }
      li{
      border-top: 1px solid #eee; 
      a{
        position: relative;
        display: block;
        height: 48px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        text-decoration: none;
        .icon{
          position: absolute;
          right: 16px;
          font-size: 22px;
          font-weight: bold;
          top: 50%;
          transform: translate(0, -50%);
          transition: all;
          color: #ccc;
        }
      }
      }
    } 
    &__merpay-head{
    margin: 42px 0 0;
    }
    &__merpay-body{
    list-style: none;
    margin-top: 6px;
    li:first-child{
    border: 0;
    }
    li{
    border-top: 1px solid #eee; 
    a{
      position: relative;
      display: block;
      min-height: 48px;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
      text-decoration: none;
    .icon{
      position: absolute;
      right: 16px;
      font-size: 23px;
      font-weight: bold;
      top: 50%;
      transform: translate(0, -50%);
      transition: all;
      color: #ccc;
    }
    }
    }
    }
    &__setting-head{
    margin: 42px 0 0;
    }
    &__setting-body{
    list-style: none;
    margin-top: 6px;
    li:first-child{
    border: 0;
    }
    li{
    border-top: 1px solid #eee; 
    a{
      position: relative;
      display: block;
      min-height: 48px;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
      text-decoration: none;
    .icon{
      position: absolute;
      right: 16px;
      font-size: 23px;
      font-weight: bold;
      top: 50%;
      transform: translate(0, -50%);
      transition: all;
      color: #ccc;
    }
    }
    }
  }
}
